body { 
    margin-left: 15px;
    font-family: Helvetica;
}


.bg-primary-color {

    background-color: rgb(3, 0, 48);

}

.bg-secundary-color {


   background-color  : lightblue;
    

}

.primary-color {
    font-size: large;
    color: lightblue
}

.bg-secundary-color {

    color: black;

}

#navbar a:hover {


    color: rgb(3, 0, 48);
    background-color: lightblue;

}

a:hover {


color: rgb(3,0,48);
background-color: lightblue;


}

a {

    text-decoration: none;
    color: black
    

    
}


.navbar-brand span {
    font-size: 1.7em;
    font-weight: 700;
    margin-left: 0.0em;
    color: lightblue; }

#navbar-items .navbar-nav {
display: flex;
justify-content: center;
width: 100%;
}


#navbar-items .nav-item {


     margin: 0 1em;

}

.foto img {
    
    
    margin-top: 10%;
    justify-content: center;
    max-width: 20%; 
    height: auto;
  }


#nome {

margin-left: 51px;
margin-top: 30px;

}

#sobrenome {

margin-left: 11px;
margin-top: 10px;

}

#email {

margin-left: 48px;
margin-top: 10px;

}

#textarea {

margin-left: 14px;
margin-top: 10px;

}